.li {
    display: flex;
    justify-content: space-between;
    width: 240px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 8px;
}

.b {
    margin-top: auto;
    margin-bottom: auto;
    height: 30px;
}

p {
    margin: 4px;
    display: flex;
    gap: 4px;
}